body {
  background-color: #F1F1F1;
}

h1 {
  color: #100F0F;
}

h4 {
  color: #0F3D3E;
}

hr {
  background-color: none;
  border-style: none;
  border-top-style: dotted;
  border-color: #E2DCC8;
  border-width: 5px;
  width: 5%;
}
